<div class="flex justify-center items-center min-h-screen bg-white">
  <div class="flex w-full max-w-5xl p-6 gap-12">
    <div class="flex-1 bg-white rounded-lg">
      <h2 class="text-2xl font-bold mb-6">Payment method</h2>

      <form (ngSubmit)="onSubmit()" #paymentForm="ngForm" class="space-y-4">
        <div>
          <label class="block text-sm font-medium text-gray-500 mb-2"
            >CARD NUMBER</label
          >
          <div
            id="card-number"
            class="border StripeElement border-gray-300 rounded-md px-3 py-3"
          ></div>
        </div>

        <div class="flex gap-4">
          <div class="flex-1">
            <label class="block text-sm font-medium text-gray-500 mb-2"
              >EXPIRATION DATE</label
            >
            <div
              id="card-expiry"
              class="border StripeElement border-gray-300 rounded-md px-3 py-3"
            ></div>
          </div>
          <div class="w-1/3">
            <label class="block text-sm font-medium text-gray-500 mb-2"
              >CVV</label
            >
            <div
              id="card-cvc"
              class="border StripeElement border-gray-300 rounded-md px-3 py-3"
            ></div>
          </div>
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-500 mb-1"
            >NAME ON CARD</label
          >
          <input
            type="text"
            placeholder="Enter your name"
            [(ngModel)]="cardHolderName"
            name="cardHolderName"
            required
            class="w-full border border-gray-300 rounded-md px-3 py-3"
          />
        </div>

        <div>
          <button
            type="submit"
            [disabled]="isLoading"
            class="w-full cursor-pointer bg-gradient-to-r from-orange-500 to-orange-600 text-white font-semibold py-3 shadow hover:opacity-90 transition disabled:bg-gray-400 disabled:cursor-not-allowed rounded-4xl"
          >
            {{ isLoading ? "Processing..." : "Continue" }}
          </button>
        </div>
        <p *ngIf="errorMessage" class="text-red-600 text-sm mt-2">
          {{ errorMessage }}
        </p>
      </form>
    </div>

    <div class="w-80">
      <h2 class="text-2xl font-bold mb-6">Summary</h2>
      <div class="bg-white rounded-xl shadow p-10" *ngIf="selectedPlan">
        <p class="font-semibold text-lg">{{ selectedPlan.title }}</p>
        <p class="text-orange-600 text-sm mt-2">
          {{ selectedPlan.description }}
        </p>
        <p class="text-2xl font-bold">£{{ selectedPlan.price }}</p>
      </div>
    </div>
  </div>
</div>
d